
<div class="form-container">
<form method='GET' action='/artist-search'>
<div>
  <input type='text' name='artist' placeholder="artist"> />
</div>
 <button type='submit'>Search For An Artist</button>
</form>
</div>