<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sp0tify</title>
    <link rel= "stylesheet" href="/styles/style.css" />
    <link ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet" />
</head>
<body>
      <nav class="navbar">
      <a class="navbar-brand" href="/">Homepage</a>
    </nav>
    {{{body}}} 
</body>
</html>